[core]
    # We use the -f flag to keep MacVim from backgrounding itself.
    editor = "mvim -f"

[user]
    name = "Don Naegely"
    email = "naegelyd@gmail.com"

[color]
    ui = true

[alias]
    co = checkout
    br = branch
    ci = commit -s
    cins = commit
    st = status
    au = add -u .
    df = diff
    dfc = diff --cached
    commit = commit -s
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    # Bad spelling/typing aliases
    rb = branch
    cop = "!f() { git checkout $1; git pull; }; f"
